header{
  height: 80px;
}

header .navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}


.mainContent{
  min-height: 100vh;
  padding-top: 80px
}

.card .form-group{
  position: relative
}

.card .form-group .error{
  position: absolute;
  font-size: 11px;
  color: red
}

.result-container{
    
    border: solid 1px #c9c9c9;
    border-top: none;
    max-height: 200px;
    overflow: auto;
}

.result-container .result-item{
  width: 100%;
  padding: 2px 10px;
  transition: ease-in-out .3 all;
  cursor: pointer;
  
}

.result-container .result-item:hover{
  background-color: #f7f7f7;

  
}