header{
  height: 80px;
}

header .navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}


.mainContent{
  min-height: 100vh;
  padding-top: 80px
}

.card .form-group{
  position: relative
}

.card .form-group .error{
  position: absolute;
  font-size: 11px;
  color: red
}

.result-container{
    
    border: solid 1px #c9c9c9;
    border-top: none;
    max-height: 200px;
    overflow: auto;
    position: absolute;
    width: 100%;
    z-index: 5;
    background: #fff;
}

.result-container .result-item{
  width: 100%;
  padding: 2px 10px;
  transition: ease-in-out .3 all;
  cursor: pointer;
  
}

.result-container .result-item:hover{
  background-color: #f7f7f7;
}

.card-usuarios .card-body{
  height: 450px;
  overflow-y: auto;
}

.item-profile{
  border: solid 1px #c9c9c9;
  position: relative;
  margin-bottom: 10px
}

.item-profile .item-profile-body{
  padding: 10px;
  display: flex
}

.item-profile .item-profile-body img{
  width: 60px;
  height: 60px;
  border-radius: 50%
}

.item-profile .item-profile-body .content{
  padding: 0 15px;
  
}

.item-profile .item-profile-body .content .title{
  color: dimgray;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase
  
}

.item-profile .repositorios{
  position: absolute;
  top: 0px;
  right: 10px;
  padding: 2px 10px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  color: #fff;
  background-color: dimgray;
  font-weight: bold;
  font-size: 10px
}

.item-profile .ver-mas{
  border-radius: 0;
  position: absolute;
  bottom: 0;
  right: 0
}

